.collection-row {
    margin: 40px 0px;

    .title {
        font-family: 'Roboto Condensed', sans-serif !important;
    }

    .product-previews {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
}
