.navbar-container {
    display: -webkit-box;
    display: flex;
    padding: 0 40px;
}

.register-container {
    position: absolute;
    right: 0;
    top: calc(50% - 250px);
    padding: 50px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;

    & > div {
        max-width: 640px;
        width: 100%;
    }
}
